/* pc */
@media (min-width: 992px) {
  .mobile-header{
    display: none;
  }
}

/* tablet + mobile */
@media (max-width: 991.98px) {
  .navbar {
    display: none;
  }
  /* chuyen logo vao giua */
  .header-top {
    position: relative;
  }
  .sign__item {
    position: absolute;
    right: 0;
  }
  .logo {
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu-header__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .menu-checkbox__icon{
    width: 30px;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
  }
  /* overlay */
  .menu-overlay{
    position: fixed;
    background: rgba(0 ,0 ,0 ,0.3);
    inset: 0;
    z-index: 1;
    /* mac dinh la k hien */
    /* an van click dc */
    opacity: 0;
    /* an va khong click dc vao overlay */
    visibility: hidden;
    transition: 0.2s;
  }
  /* check */
  .menu-checkbox:checked ~ .menu-overlay{
    opacity: 1;
    visibility: visible;
  }
  /* code phan menu drawer */
  .menu-drawer{
    position: fixed;
    background-color: rgb(80, 22, 22);
    inset: 0 40% 0 0;
    padding: 30px;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.3s;
  }
  .menu-checkbox:checked ~ .menu-drawer{
    transform: translateX(0);
  }
  .menu-out-icon{
    width: 30px;
    color: whitesmoke;
    cursor: pointer;
  }
  .menu-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .menu-logo{
    left: 12%;
  }
  /* nav list mb */
  #navbar__list--mobile{
    margin-top: 25px;
  }
  .navbar__link{
    display: block;
  }
  .navbar__item{
    margin-bottom: 20px;
  }
}
/* tablet */
@media (min-width: 768px) and(max-width: 991.98px) {
}
/* mobile */
@media (max-width: 767.98px) {
}
